# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# R history
*.Rhistory

# Virtualenv
.venv/
venv/
ENV/
env/
.env/

# Editor directories and files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

#VSCode
.vscode
